@{
    ViewData["Title"] = "Home Page";

}

<div>
    <label>Fecha de hoy: @DateTime.Now.ToString()</label> <br>
    <label>Fecha escrita: @DateTime.Now.ToLongDateString()</label> <br>
    <label>Operaciones matemáticas: @(250+250)</label> <br>
</div>
<br/>

@{
var num1=100;
var num2 = 200;
var num3 = num1+num2;
string mensaje = "Hola estimados";
}

<label> Sumando dos números = @num3</label>
<br/>
<label>@mensaje</label>
<br>
<label>Mi Instagram = @@zenere.leo</label>
<br/>

@*  Loop *@
@for (var i = 0; i < 5; i++) {
    <p>Line @i</p>
}
<br/>

@* Logica *@
@{ var price = 50;}
@if (price > 30) {<p> Es caro este producto</p>} 
else {<p>Es barato este producto.</p>}


<br />
@Html.Label("First Name", "First Name:", new {@class="caption"})
<br />
<tag-helper-customizado custom-mail ="leandrozenere@gmail.com" ></tag-helper-customizado>